In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler, Normalizer

In [2]:
df = pd.read_csv("train.csv")

for col in df.columns :
    # if df[col].isnull().sum() > 0 :
    print(col, (df[col] == "\u2013").sum())
    print("*"*10)
    if df[col].value_counts().shape[0] <= 10 :
        print(col)
        print(df[col].value_counts())

id 0
**********
brand 0
**********
model 0
**********
model_year 0
**********
milage 0
**********
fuel_type 294
**********
fuel_type
Gasoline          49439
Hybrid             1766
E85 Flex Fuel      1479
Diesel             1109
â€“                   294
Plug-In Hybrid      182
not supported         4
Name: fuel_type, dtype: int64
engine 335
**********
transmission 7
**********
ext_col 41
**********
int_col 1045
**********
accident 0
**********
accident
None reported                             39896
At least 1 accident or damage reported    14377
Name: accident, dtype: int64
clean_title 0
**********
clean_title
Yes    54273
Name: clean_title, dtype: int64
price 0
**********

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54273 non-null  int64
 1   brand         54273 non-null  object
 2   model         54273 non-null  object
 3   model_year    54273 non-null  int64
 4   milage        54273 non-null  int64
 5   fuel_type     54273 non-null  object
 6   engine        54273 non-null  object
 7   transmission  54273 non-null  object
 8   ext_col       54273 non-null  object
 9   int_col       54273 non-null  object
 10  accident      54273 non-null  object
 11  clean_title   54273 non-null  object
 12  price         54273 non-null  int64
dtypes: int64(4), object(9)
memory usage: 5.4+ MB

In [4]:
df[df["model"] == "XF Luxury"].head(20)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
611,611,Jaguar,XF Luxury,2006,35134,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Gray,None reported,Yes,18500
10939,10939,Jaguar,XF Luxury,2007,25000,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Silver,Black,None reported,Yes,47999
13704,13704,Jaguar,XF Luxury,2009,56000,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,13500
13775,13775,Jaguar,XF Luxury,2011,106000,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes,16000
14246,14246,Jaguar,XF Luxury,2013,73500,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,A/T,Blue,Beige,At least 1 accident or damage reported,Yes,18749
17031,17031,Jaguar,XF Luxury,2013,66500,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,A/T,White,Beige,None reported,Yes,17500
17339,17339,Jaguar,XF Luxury,2009,170000,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Beige,At least 1 accident or damage reported,Yes,7000
17889,17889,Jaguar,XF Luxury,2011,106731,Gasoline,300.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,White,Black,At least 1 accident or damage reported,Yes,9500
18367,18367,Jaguar,XF Luxury,2007,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Beige,None reported,Yes,8000
18995,18995,Jaguar,XF Luxury,2008,110000,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Gray,Black,None reported,Yes,12000
22992,22992,Jaguar,XF Luxury,2008,178416,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Beige,At least 1 accident or damage reported,Yes,7200
25283,25283,Jaguar,XF Luxury,2013,17500,Gasoline,385.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes,33000
26043,26043,Jaguar,XF Luxury,2011,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Black,None reported,Yes,7000
27360,27360,Jaguar,XF Luxury,2009,56000,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Beige,None reported,Yes,19500
29174,29174,Jaguar,XF Luxury,2013,104000,Gasoline,385.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Beige,None reported,Yes,13600
29435,29435,Jaguar,XF Luxury,2013,106000,Gasoline,385.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,A/T,White,Beige,None reported,Yes,15000
30313,30313,Jaguar,XF Luxury,2009,65900,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Beige,None reported,Yes,2300
37794,37794,Jaguar,XF Luxury,2007,95426,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Green,Beige,None reported,Yes,8000
37971,37971,Jaguar,XF Luxury,2007,106000,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Beige,At least 1 accident or damage reported,Yes,10000

In [5]:
for col in df.columns :
    if df[col].dtype == "object" :
        print(col)
        print(df[col].value_counts().shape[0])
        print("*"*10)

brand
53
**********
model
1827
**********
fuel_type
7
**********
engine
1061
**********
transmission
46
**********
ext_col
260
**********
int_col
124
**********
accident
2
**********
clean_title
1
**********

In [6]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [8]:
df.corr()

                  id  model_year    milage     price
id          1.000000    0.000741 -0.003194  0.000587
model_year  0.000741    1.000000 -0.625226  0.216150
milage     -0.003194   -0.625226  1.000000 -0.248927
price       0.000587    0.216150 -0.248927  1.000000

In [9]:
for col in df.columns:
    if df[col].dtype == "object" :
        df[col].replace("\u2013", df[col].mode()[0])

myordenc = OrdinalEncoder(handle_unknown = "use_encoded_value", unknown_value=-1)
mynor = Normalizer()

df.drop(["clean_title", ], inplace=True, axis=1)
df.drop(["id", ], inplace=True, axis=1)

num_cols = [col for col in df.columns if df[col].dtype != "object"]
# df[num_cols] = pd.DataFrame(mynor.fit_transform(df[num_cols]))

ord_encoding_cols = [col for col in df.columns if df[col].dtype == "object"]
df[ord_encoding_cols] = pd.DataFrame(myordenc.fit_transform(df[ord_encoding_cols]))

df["price"] = df["price"].apply(np.log)

In [10]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,14.0,644.0,2018,74349,2.0,719.0,2.0,26.0,57.0,1.0,9.305651
1,4.0,49.0,2007,80000,2.0,534.0,18.0,17.0,9.0,1.0,9.017968
2,21.0,1771.0,2009,91491,2.0,541.0,14.0,181.0,6.0,1.0,9.615805
3,4.0,1748.0,2022,2437,3.0,646.0,43.0,100.0,24.0,1.0,11.058795
4,40.0,693.0,2001,111000,2.0,219.0,34.0,249.0,9.0,1.0,8.968269

In [11]:
df.corr()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
brand,1.000000,-0.095992,-0.068357,0.047288,0.038529,-0.134387,0.025874,0.006090,0.000565,-0.012365,-0.041322
model,-0.095992,1.000000,-0.000016,0.048665,0.013908,-0.036810,0.003388,-0.009944,0.015077,-0.024859,-0.034287
model_year,-0.068357,-0.000016,1.000000,-0.625226,-0.044165,0.301074,0.046235,-0.023136,-0.018272,0.216034,0.646124
milage,0.047288,0.048665,-0.625226,1.000000,-0.084541,-0.342713,-0.029160,0.012430,0.002399,-0.295166,-0.661766
fuel_type,0.038529,0.013908,-0.044165,-0.084541,1.000000,0.053997,0.094454,-0.017347,0.015191,0.031950,-0.001532
engine,-0.134387,-0.036810,0.301074,-0.342713,0.053997,1.000000,-0.008197,-0.037801,-0.015230,0.169916,0.501356
transmission,0.025874,0.003388,0.046235,-0.029160,0.094454,-0.008197,1.000000,0.011765,-0.000142,-0.019714,0.011903
ext_col,0.006090,-0.009944,-0.023136,0.012430,-0.017347,-0.037801,0.011765,1.000000,0.072006,-0.008808,-0.022022
int_col,0.000565,0.015077,-0.018272,0.002399,0.015191,-0.015230,-0.000142,0.072006,1.000000,-0.019442,0.006299
accident,-0.012365,-0.024859,0.216034,-0.295166,0.031950,0.169916,-0.019714,-0.008808,-0.019442,1.000000,0.281049
price,-0.041322,-0.034287,0.646124,-0.661766,-0.001532,0.501356,0.011903,-0.022022,0.006299,0.281049,1.000000

In [12]:
X_cols = df.columns[: -1]
Y_col = df.columns[-1]

train_X, test_X, train_Y, test_Y = train_test_split(df[X_cols], df[Y_col], test_size=0.1)

In [13]:
from sklearn.feature_selection import mutual_info_regression

mi_values = mutual_info_regression(df[X_cols], df[Y_col])

for i, j in zip(X_cols, mi_values) :
    print(i, j)

brand 0.18632969129369004
model 0.48797196786144603
model_year 0.5902449411753787
milage 0.8579945637019524
fuel_type 0.026491292008982814
engine 0.5853946597269388
transmission 0.303048614741233
ext_col 0.11083425343381936
int_col 0.11805480684863223
accident 0.06949522865654689

In [12]:
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, StackingRegressor, AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso

In [13]:
# from sklearn.metrics import root_mean_squared_error as rmse
model.fit(train_X, train_Y)

pred = model.predict(test_X)

rmse = np.sqrt(np.mean((np.array(test_Y) - np.array(pred)) ** 2))
print(rmse)

NameError: name 'model' is not defined

In [ ]:
print(pred)

In [ ]:
test = pd.read_csv("test.csv")

test.drop(["clean_title", ], inplace=True, axis=1)

for col in test.columns:
    if test[col].dtype == "object" :
        test[col].replace("\u2013", df[col].mode()[0])

# df.drop(["id", ], inplace=True, axis=1)

test[ord_encoding_cols] = pd.DataFrame(myordenc.transform(test[ord_encoding_cols]))

test["pred"] = model.predict(test[X_cols])

In [ ]:
test["pred"] = test["pred"].apply(np.exp)

In [ ]:
test[["id", "pred"]].to_csv("sub.csv", index=False)

In [ ]:
## try the same removing fuel column

X_cols = [
    "brand",	"model",	"model_year",
	"milage",	"engine",	"transmission",
    "ext_col",	"accident",
    ]

train_X = train_X[X_cols]
test_X = test_X[X_cols]
train_Y = train_Y
test_Y = test_Y

In [ ]:
model = SVR(C=10000)
model.fit(train_X, train_Y)

pred = model.predict(test_X)
rmse = np.sqrt(np.mean((np.array(test_Y) - np.array(pred)) ** 2))
print(rmse)

# Wrinting functions for every step

In [ ]:
# https://github.com/bala-1409/Price-Prediction-for-Used-Cars-Datascience-Project/blob/main/Codes/Car%20Price%20Prediction.ipynb

In [1]:
import datetime
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, Normalizer
from sklearn.pipeline import Pipeline

from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor, ExtraTreeRegressor
from sklearn.ensemble import RandomForestRegressor, StackingRegressor, AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso, SGDRegressor

In [2]:
def preprocess_X(df):

    print("Model_Year....")
    df["model_year"] = df["model_year"].apply(lambda x: datetime.datetime.now().year - x)

    print("\u1023 values...")
    for col in df.columns:
        if df[col].dtype == "object" :
            df[col].replace("\u2013", df[col].mode()[0])

    # mynor = Normalizer()

    ###
    ## Drop unwanted columns
    ###
    print("Column drop...")
    df = df.drop(["clean_title", ], axis=1)
    df = df.drop(["id", ], axis=1)

    ###
    ## Normalize the numerical columns
    ###
    # num_cols = [col for col in df.columns if df[col].dtype != "object"]
    # df[num_cols] = pd.DataFrame(mynor.fit_transform(df[num_cols]))

    ###
    ## Apply Ordinal Encoding
    ###
    myordenc = OrdinalEncoder(handle_unknown = "use_encoded_value", unknown_value=-1)
    print("Encoding ...")
    ord_encoding_cols = [col for col in df.columns if df[col].dtype == "object"]
    df[ord_encoding_cols] = pd.DataFrame(myordenc.fit_transform(df[ord_encoding_cols]))

    ###
    ## get dummies gor categorical columns
    ###
    # print("dummies...")
    # ord_encoding_cols = [col for col in df.columns if df[col].dtype == "object"]
    # df = pd.get_dummies(df, columns=ord_encoding_cols, drop_first=True)

    ###
    ## Apply log to price
    ###
    #df["price"] = df["price"].apply(np.log)

    return df

In [3]:
def preprocess_Y(Y):
    
    return Y.apply(np.log)

def reverse_preprocess_Y(Y):

    return Y.apply(np.exp)

In [4]:
def train_model(model, X, Y) :
    X = preprocess_X(X)
    Y = preprocess_Y(Y)
    
    print("train_test_split....")
    train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=0.1, random_state=13)

    print("model_fit ....")
    model = Pipeline(steps=[("SC", StandardScaler()), ("model", model)])
    model.fit(train_X, train_Y)

    print("validation.....")
    preds = model.predict(test_X, test_Y)
    rmse = np.sqrt(np.mean(np.array(test_Y) - np.array(pred)) ** 2)
    print("rmse:", rmse)

    return model

In [5]:
def make_sub(model):
    test = pd.read_csv("test.csv")
    test_X = preprocess_X(test)

    test["pred"] = model.predict(test_X)
    test["pred"] = reverse_preprocess_Y(test["pred"])
    test[["id", "pred"]].to_csv("sub.csv", index=False)

In [6]:
df = pd.read_csv("train.csv")

In [7]:
X_cols = df.columns[: -1]
Y_col = df.columns[-1]

X = df[X_cols]
Y = df[Y_col]

In [8]:
svr = train_model(SVR(), X, Y)

Model_Year....

C:\Users\reddy\AppData\Local\Temp\ipykernel_12488\4134777215.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["model_year"] = df["model_year"].apply(lambda x: datetime.datetime.now().year - x)

á€£ values...
Column drop...
Encoding ...

NameError: name 'myordenc' is not defined